@model IEnumerable<ICourses.Data.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <h1>Категории</h1>
</div>

<div class="my-3 p-3 alert-info rounded shadow-sm">
    <div class="container p-3">
        <div class="row">
            @foreach (var m in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@Html.DisplayFor(modelItem => m.Name)</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text mb-5">@Html.DisplayFor(modelItem => m.Description)</p>
                            <a role="button" class="btn btn-lg btn-block btn-outline-info" asp-area="" asp-controller="Courses" asp-action="Index" asp-route-id="@m.Id">
                                Просмотреть курсы
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>

<!--

 <a asp-action="Edit" asp-route-id="">Edit</a> |
 <a asp-area="" asp-controller="Courses" asp-action="Index" asp-route-id="">Details</a> |
 <a asp-action="Delete" asp-route-id="item.Id">Delete</a>|
                  -->
